*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

input {
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Kanit, sans-serif;
}

ul[class],
ol[class] {
  list-style: none;
}

.wrapper {
  text-align: center;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerall{
  min-width: 848px;
  max-width: 1246px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

/* header box ----------------------------------------*/

.header-text {
  margin-top: 40px;
  margin-bottom: 18px;
  font-size: 30px;
  font-weight: 600;
}

.upper-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.search-for-task-bar {
  width: 595px;
  height: 38px;
  padding: 8px 16px;
  color: black;
  border-radius: 6px;
  border: 2px solid #6c63ff;
  margin-right: 16px;
}

select{
  padding-left: 5px;
}

.drop-down-menu{
  display: flex;
  max-width: 85px;
  height: 38px;
  color: white;
  font-family: Kanit, sans-serif;
  font-size: 18px;
  border-radius: 6px;
  background-color: #6c63ff;
  border: none;
  outline: none;
  margin-right: 16px;
}

.search-btn{
  background: none;
  border: none;
  position: absolute;
  margin-left: -50px;
  height: 38px;
}

.search-img{
  height: 21px;
  width: 21px;
}

.dd-preview{
  font-weight: 600;
}

.moon-icon{
  height: 22px;
  width: 22px;
  background-color: #6c63ff;
}


/* task box ----------------------------------------*/

.tasks-container {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 575px;
  width: 848px;
  margin-top: 14px;
  position: relative;
}

.tasks-box {
}

.task {
  display: flex;
  flex-direction: row;
  width: 525px;
  min-height: 42px;
  align-items: center;
  text-align: start;
  border-bottom: 2px solid #6b63fe79;
  padding-bottom: 16px;
  margin-top: 16px;
}


.task-condition {
  min-height: 26px;
  min-width: 26px;
  margin-right: 18px;
  background-color: white;
}

.task-text {
  word-break: break-all;
  display: flex;
  white-space: wrap;
  flex-wrap: wrap;
  min-width: 420px;
  font-size: 20px;
  margin-right: auto;
}


.task-buttons-box {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
  min-width: 62px;
}

.modify-btn,
.delete-btn
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: none;
  background: none;
  transition: all ease-in-out .1s;
}

.modify-icon,
.delete-icon
{
  display: inline-block;
  vertical-align: middle;
}

.modify-btn:hover,
.delete-btn:hover{
  background-color: rgb(26, 26, 26);
}




/* add new note button ----------------------------------------*/

.newnote-box{
  position: relative;
}

.btn {
  position: absolute;
  background-color: #6c63ff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #6c63ff;
  right: 0;
  bottom: 0;
  float: right;  
  margin-right: 8px;
  transition: all 0.3s ease-in-out;
}

.btn:hover{
  background-color: #534CC2;  
}



/* modal window ---------------------------------------- */

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease-in-out;
}

.modal {
	background-color: #fff;
	width: 500px;
	height: 289px;
  padding: 20px 30px;
  border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.2s ease-in-out;
}

.modal--visible {
	display: block;
}

.nn-header{
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 23px;
  letter-spacing: 0.8px;
}

.nn-input{
  width: 440px;
  height: 38px;
  padding: 8px 16px;
  color: black;
  border-radius: 6px;
  border: 1px solid #6c63ff;
  margin-bottom: 110px;
}

.nn-btn-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

.nn-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: none;
  border: 1px solid #6c63ff;
  border-radius: 5px;
  font-family: "Kanit", sans-serif;
  padding: 10px 22px;
  letter-spacing: 0.4px;
  height: 38px;
}

.cancel-btn {
  color:#6c63ff;
  width: 110px;
  transition: all ease-in-out .1s;
}

.apply-btn {
  background-color: #6c63ff;
  color: #fff;
  width: 97px;
  transition: all ease-in-out .1s;
}

.apply-btn:hover{
  background-color: white;
  color: #6c63ff;
}

.cancel-btn:hover{
  background-color: #6c63ff;
  color: white;
}

/* */

